@model BookingApp.Models.Consumer

@{
    ViewBag.Title = "DeleteConsumer";
}



<div class="row">
    <div class="col-lg-10">
        <h3>Da li ste sigurni da zelite da izbrisete ovog korisnika?</h3>
    </div>
</div>
@using (Html.BeginForm("DeleteConsumer", "Consumers"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(p => p.Id)
    <div class="row">
        <div class="col-lg-1">
            <div class="form-actions no-color">
                <input type="submit" value="Izbriši" class="btn btn-danger" />
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-actions no-color">
                @Html.ActionLink("Odustani", "Index", "Consumers", new { @class = "btn btn-success"})
            </div>
        </div>
    </div>

}