@page
@model RazorOrderingSystemApp.Pages.Restaurants.DeleteRestaurantModel
@{
    ViewData["Title"] = "Delete";
}

@if (Model.Restaurant is null)
{
    <h3>The requested record was not found! </h3>
}
else
{
    <div class="h4">
        Are you sure you want to delete the restaurant @Model.Restaurant.RestName?
    </div>
    <form method="post">
        <input asp-for="Id" value="@Model.Id" type="hidden" />
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-page="./DisplayRestaurant" asp-route-id="@Model.Id" class="btn btn-outline-danger">Cancel</a>
        </div>
    </form>
}