@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p><h4><strong>This is Razor Page Restaurant Ordering Application</strong></h4></p>
</div>
